@import 'footer.scss';
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #0d1017;
$text-color: #ffffff;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  //   color: #2c3e50;
  margin-top: 60px;
}

a {
  text-decoration: none;
  padding: 20px;
  color: #828282;
}

.dark-theme {
  background-color: $background-color;
  color: $text-color;

  // При необходимости настройте другие элементы пользовательского интерфейса.
}

.tab {
  outline: 1px solid rgb(255, 255, 255);
}

.title {
  padding: 40px 0 0 0;
}
